@use '@angular/material' as mat;
@use 'theme';

// Include prerequisite styles for common features used by multiple components.
// The core mixin must be included exactly once for your application, even if you define multiple themes.
// Including the core mixin multiple times will result in duplicate CSS in your application.
@include mat.core();

// Include styles for all components in the library.
// These mixins behave the same as individual component mixins, except they emit styles for core-theme and all 35+
// components in Angular Material. Unless your application uses every single component, this will produce unnecessary CSS.
@include mat.all-component-themes(theme.$app-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
